<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <title>TattoPin - Inicio</title>
    <link rel="icon" href="static/image/Logoproyecto.png" type="image/png">
</head>
<body>
    <header>
        <div class="relative">
            <nav>
                <ul class="headerlogo">
                    <li>
                        <a href="{% url 'menu' %}" target="_self">
                            <img src="{% static 'image/Logoproyecto.png' %}" alt="logo">
                            <span class="logo-text">TattoPin 2K25</span>
                        </a>
                    </li>
                    <li><a href="{% url 'menu' %}" target="_self">INICIO</a></li>
                    <li><a href="{% url 'acercade' %}" target="_self">ACERCA DE</a></li>
                    <li><a href="{% url 'galeria' %}" target="_self">GALERIA</a></li>
                    <li><a href="{% url 'carrousel' %}" target="_self">NUESTRO TRABAJO</a></li>
                    <li><a href="{% url 'tienda' %}" target="_self">TIENDA</a></li>
                    <li><a href="{% url 'carrito' %}" target="_self">
                            <img src="{% static 'image/icons/carrito2.png' %}" style="width: 30px;" alt="carrito"> CARRITO</a></li>
                
                    <div class="dropdown">
                        <a class="dropdown-toggle"><img src="{% static 'image/icons/lock2.png' %}" style="width: 20px;"> CUENTA</a>
                        <a style="color: #8d8d8d;"></a>
                        <div class="dropdown-content">
                            <a href="{% url 'login' %}">Iniciar Sesión</a>
                            <a href="{% url 'formulario' %}">Crear Cuenta</a>
                        </div>
                    </div>
                </ul>
                
            </nav>
        </div>
    </header>

    <main>
        <section class="welcome">
            <div class="container">
                <div class="cuadro">
                    <h1 style="color: white;"><b>Bienvenido a TattoPin</b></h1>
                </div>
                <p>
                    En TattoPin, transformamos tus ideas en arte que llevarás contigo para siempre.
                    Somos un equipo de artistas apasionados por el diseño, la creatividad y el profundo significado que cada tatuaje representa. 
                    No solo creamos tatuajes, construimos experiencias personalizadas que reflejan tu individualidad. 
                    Explora nuestra galería de trabajos, donde cada pieza cuenta una historia única. 
                    Conoce la trayectoria de nuestros artistas y únete a nuestra comunidad de amantes del arte corporal. 
                    Permítenos ser parte de tu próximo proyecto, desde la concepción de la idea hasta la obra final. 
                    Navega por nuestro sitio y descubre la inspiración que necesitas para tu próximo tatuaje. 
                    Déjate inspirar por la creatividad que nos define y encuentra el diseño perfecto que te acompañará a lo largo de tu vida.
                </p>
                <p>
                    Navega por nuestro sitio y descubre la inspiración que necesitas para tu próximo tatuaje.
                </p>
                <div style="display: flex; margin: 5px 0;">
                    <img src="static/image/Estilo pagina principal.png" alt="png decorativo" style="display: block; margin: auto;">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="relative">Copyright &copy; 2025 TattoPin. Derechos Reservados</div>

        <div class="relative">
            <nav>
                <ul>
                    <li><a href="https://www.instagram.com/" target="_blank">
                        <img width="25px" height="25px" src="static/image/Redes/Blanco/Instagram.png" alt="logo"></a></li>
                    <li><a href="https://www.x.com/" target="_blank">
                        <img width="35px" height="35px" src="static/image/Redes/Blanco/Twitter.png" alt="logo"></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank">
                    <img width="25px" height="25px" src="static/image/Redes/Blanco/Facebook.png" alt="logo"></a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
