<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>TattoPin - Login</title>
    <link rel="icon" href="{% static 'image/Logoproyecto.png' %}" type="image/png">
</head>
<body>
    <header>
        <div class="relative">
            <nav>
                <ul class="headerlogo">
                    <li><a href="{% url 'menu' %}" target="_self">INICIO</a></li>
                    <li><a href="{% url 'acercade' %}" target="_self">ACERCA DE</a></li>
                    <li><a href="{% url 'menu' %}" target="_self">
                        <img src="{% static 'image/Logoproyecto.png' %}" alt="logo"></a></li>
                    <li><a href="{% url 'galeria' %}" target="_self">GALERIA</a></li>
                    <li><a href="{% url 'carrousel' %}" target="_self">NUESTRO TRABAJO</a></li>
                    
                    <div class="dropdown show">
                        <a><img src="{% static 'image/icons/lock2.png' %}" style="width: 20px;"> CUENTA</a>
                        <a style="color: #8d8d8d;"> ▼</a>
                        <li class="dropdown-content">
                            <a href="{% url 'login' %}">Iniciar Sesion</a>
                            <a href="{% url 'formulario' %}">Registrarse</a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="container mt-5">
            <h1 class="text-center mb-4" style="color: white;">Iniciar Sesíon</h1>
            <form id="loginForm">
                <!-- Correo -->
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="correo@ejemplo.com" required>
                    <div class="invalid-feedback">Por favor, introduce un correo válido.</div>
                </div>

                <!-- Contraseña -->
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required minlength="6" maxlength="20">
                    <img src="{% static 'image/icons/closeeye2.png' %}" class="pass-icon" alt="show/hide"></img>
                    <div class="invalid-feedback">
                        La contraseña debe tener entre 6 y 20 caracteres.
                    </div>
                </div>

                <!-- Recuperar Contraseña -->
                <div class="mb-3 text-end">
                    <a href="#" class="link-light">¿Olvidaste tu contraseña?</a>
                </div>

                <!-- Botón Login -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
                
            </form>
        </section>

        <!-- Opción de registro -->
        <div class="text-center">
            <p style="color: white;">
                ¿No tienes usuario? 
                <a href="formulario.html" class="link-light" style="font-weight: bold;">Regístrate aquí</a>
            </p>
        </div>
    </main>

    <footer>
        <div class="relative">Copyright &copy; 2025 TattoPin. Derechos Reservados</div>

        <div class="relative">
            <nav>
                <ul>
                    <li><a href="https://www.instagram.com/" target="_blank">
                        <img width="25px" height="25px" src="{% static 'image/Redes/Blanco/Instagram.png' %}" alt="logo"></a></li>
                    <li><a href="https://www.x.com/" target="_blank">
                        <img width="35px" height="35px" src="{% static 'image/Redes/Blanco/Twitter.png' %}" alt="logo"></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank">
                    <img width="25px" height="25px" src="{% static 'image/Redes/Blanco/Facebook.png' %}" alt="logo"></a></li>
                </ul>
            </nav>
        </div>
    </footer>

    <script src="{% static 'js/mostrarContra.js' %}"></script>
</body>
</html>
