<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="js/jquery-3.7.1.js"></script>
    <title>TattoPin - Register</title>
    <link rel="icon" href="{% static 'image/Logoproyecto.png' %}" type="image/png">
</head>
<style>
    form textarea {
    color: rgb(0, 0, 0) !important; /* Cambia el color del texto dentro del formulario a blanco */
    }

    form input 
    form select, 
    form textarea {
        background-color: transparent; /* Fondo transparente para que contraste con el texto blanco */
        border: 1px solid rgb(0, 0, 0); /* Bordes blancos para mejor visibilidad */
    }

    form label {
        color: rgb(0, 0, 0); /* Asegúrate de que las etiquetas también sean blancas */
    }
.pass-icon {
    height: 20px;
    width: 20px;
    
}
</style>

<body>
    <header>
        <div class="relative">
            <nav>
                <ul class="headerlogo">
                    <li><a href="{% url 'menu' %}" target="_self">INICIO</a></li>
                    <li><a href="{% url 'acercade' %}" target="_self">ACERCA DE</a></li>
                    <li><a href="{% url 'menu' %}" target="_self">
                        <img src="{% static 'image/Logoproyecto.png' %}" alt="logo"></a></li>
                    <li><a href="{% url 'galeria' %}" target="_self">GALERIA</a></li>
                    <li><a href="{% url 'carrousel' %}" target="_self">NUESTRO TRABAJO</a></li>
                    
                    <div class="dropdown show">
                        <a><img src="{% static 'image/icons/lock2.png' %}" style="width: 20px;"> CUENTA</a>
                        <a style="color: #8d8d8d;"> ▼</a>
                        <li class="dropdown-content">
                            <a href="{% url 'login' %}">Iniciar Sesion</a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </header>

    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}


    <main class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Iniciar sesion</h2>
                        <hr>
                        <form action="#" method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="">Username: </label><br>
                                {{form.username}}
                            </div>
                            

                            <div class="form-group">
                                <label for="">Contraseña: </label><br>
                                {{form.password}}
                            </div>
                            

                            <a href="{% url 'login' %}" class="btn btn-link">Login</a> 
                            <a href="{% url 'menu' %}" class="btn btn-link">Inicio</a>
                            <input type="submit" value="Sing in" class="btn btn-outline-primary" style="float:right">
                        </form>
                    </div>
                </div>
            </div>

        </div>



    </main>

    <footer>
        <div class="relative">Copyright &copy; 2025 TattoPin. Derechos Reservados</div>
        <div class="relative">
            <nav>
                <ul>
                    <li><a href="https://www.instagram.com/" target="_blank">
                        <img width="25px" height="25px" src="{% static 'image/Redes/Blanco/Instagram.png' %}" alt="logo"></a></li>
                    <li><a href="https://www.x.com/" target="_blank">
                        <img width="35px" height="35px" src="{% static 'image/Redes/Blanco/Twitter.png' %}" alt="logo"></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank">
                    <img width="25px" height="25px" src="{% static 'image/Redes/Blanco/Facebook.png' %}" alt="logo"></a></li>
                </ul>
            </nav>
        </div>
    </footer>

</body>

</html>
