<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>TattoPin - TIENDA</title>
    <link rel="icon" href="{% static 'image/Logoproyecto.png' %}" type="image/png">
</head>
<body>
    <header>
        <div class="relative">
            <nav>
                <ul class="headerlogo">
                    <li>
                        <a href="{% url 'menu' %}" target="_self">
                            <img src="{% static 'image/Logoproyecto.png' %}" alt="logo">
                            <span class="logo-text">TattoPin 2K25</span>
                        </a>
                    </li>
                    <li><a href="{% url 'menu' %}" target="_self">INICIO</a></li>
                    <li><a href="{% url 'acercade' %}" target="_self">ACERCA DE</a></li>
                    <li><a href="{% url 'galeria' %}" target="_self">GALERIA</a></li>
                    <li><a href="{% url 'carrousel' %}" target="_self">NUESTRO TRABAJO</a></li>
                    <li><a href="{% url 'tienda' %}" target="_self">TIENDA</a></li>
                    {% if user.is_authenticated %}
                        <li>>Hola, {{ user.username }}</li>
                        <li><a href="{% url 'cerrar' %}">Cerrar Sesión</a></li>
                    {% else %}
                        <div class="dropdown">
                            <a class="dropdown-toggle"><img src="{% static 'image/icons/lock2.png' %}" style="width: 20px;"> CUENTA</a>
                            <a style="color: #8d8d8d;"></a>
                            <div class="dropdown-content">
                                <a href="{% url 'login' %}">Iniciar Sesión</a>
                                <a href="{% url 'formulario' %}">Crear Cuenta</a>
                            </div>
                        </div>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <h1 style="color: white; text-align: center; margin-top: 20px;">TIENDA</h1>
    
        {% if user.is_staff %}
        <div class="text-center">
            <a href="{% url 'listado' %}" class="btn btn-danger">ADMINISTRAR CONTENIDO</a> 
        </div>
        {% endif %}
        {% if not user.is_authenticated %}
        <div class="text-center">
            <p style="text-align: center;"><h4 style="font-weight: bold; color: #ffffff;">¿QUIERES ADQUIRIR UN TATUAJE?</h4></p>
            <a href="{% url 'login' %}" class="btn btn-success">INICIAR SESIÓN</a> 
            <a href="{% url 'formulario' %}" class="btn btn-danger">CREAR CUENTA</a> 
        </div>
        {% endif %}
    
        <div class="barra-filtros">
            <div class="filtro-categoria">
                <label for="categoria">Categorias</label>
                <select id="categoria">
                    <option value="">Todas</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.nombreCategoria }}">{{ categoria.nombreCategoria }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filtro-precio">
                <label for="orden-precio">Ordenar por precio</label>
                <select id="orden-precio">
                    <option value="asc">Más baratos a caros</option>
                    <option value="desc">Más caros a baratos</option>
                </select>
            </div>
        </div>

        <!--Mini-Carrito-->
        {% if user.is_authenticated %}
        <div id="carrito-container" style="margin-top: 40px;">
            <h2 style="color: #ffffff;">Tu Pedido</h2>
            <ul id="carrito-contenido"></ul> 
            <div id="carrito-total">
              <h3 style="color: #ffffff;">Total: $<span id="total-carrito">0</span></h3>
              <a href="{% url 'carrito' %}"><button id="finalizar-compra" class="btn btn-primary" disabled>Ir al Carrito</button></a>
            </div>      
          </div>
        {% endif %}
        
        {% if user.is_authenticated %}
        <div class="gallery-container">
            {% for tattoo in datos %}
            <div class="gallery-item" style="width: 213px;" data-categoria="{{ tattoo.categoria.nombreCategoria }}" data-precio="{{ tattoo.precio }}">
                <img src="{{ tattoo.imagen.url }}" >
                <div class="descripton">
                    <p><b>{{ tattoo.titulo }}</b></p>
                    <p>{{tattoo.categoria}}</p>
                    <p>
                        <button class="btn btn-success btn-agregar-carrito" 
                                data-id="{{ tattoo.id }}" 
                                data-nombre="{{ tattoo.titulo }}" 
                                data-categoria="{{ tattoo.categoria }}" 
                                data-imagen="{{ tattoo.imagen.url }}" 
                                data-precio="{{ tattoo.precio }}"
                                title="Agregar al carrito"
                                data-bs-toggle="tooltip">
                            ${{ tattoo.precio }}
                        </button>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="gallery-container">
            {% for tattoo in datos %}
            <div class="gallery-item" style="width: 213px;" data-categoria="{{ tattoo.categoria.nombreCategoria }}" data-precio="{{ tattoo.precio }}">
                <img src="{{ tattoo.imagen.url }}" >
                <div class="descripton">
                    <p><b>{{ tattoo.titulo }}</b></p>
                    <p>{{tattoo.categoria}}</p>
                    <p>
                        <button class="btn btn-danger">
                            ${{ tattoo.precio }}
                        </button>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </main>
    
    

    <footer>
        <div class="relative">Copyright &copy; 2025 TattoPin. Derechos Reservados</div>

        <div class="relative">
            <nav>
                <ul>
                    <li><a href="https://www.instagram.com/" target="_blank">
                        <img width="25px" height="25px" src="{% static 'image/Redes/Blanco/Instagram.png' %}" alt="logo"></a></li>
                    <li><a href="https://www.x.com/" target="_blank">
                        <img width="35px" height="35px" src="{% static 'image/Redes/Blanco/Twitter.png' %}" alt="logo"></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank">
                    <img width="25px" height="25px" src="{% static 'image/Redes/Blanco/Facebook.png' %}" alt="logo"></a></li>
                </ul>
            </nav>
        </div>
    </footer>
    
    <script src="{% static 'js/filtro.js' %}"></script>
    <script src="{% static 'js/tooltip.js' %}"></script>
    <script src="{% static 'js/tienda.js' %}"></script>
</body>
</html>
